h1 {
	color:blue;
}

h3 {
	color:red;
}
p {
	color:black;
}

li {
	color:purple;
}

html {

}

 nav button {
	color:red;
}

.btn-outline-success {
	color:white;
	background:#3371FF;
	margin:0 5px;
	border-width:0;
	outline: none !important;
	border-color: #3371FF !important;
}

.btn-outline-success:hover {
	background: red
}

.btn-outline-success:focus{
	box-shadow: none;
}

.footer-text {
	margin:100px !important;
}

footer {
	margin-top: 50px;
}
.me {
	background-image: url("images/Gallery2.jpg");
height:500px;
background-size:cover;
}


