{% extends 'base.html' %}

{% block content %}

<div class="container">

      <!-- Heading -->
      <h1>About Al Shafian Bari
        
      </h1>

      <!-- Row -->
      <div class="row">

        <div class="col-8">
          <img class="img-fluid" src="../static/images/Gallery1.jpg" alt="">
        </div>

        <div class="col-4">
          <h3>About me</h3>
          <p>I am Al Shafian Bari. I am 17 years old. I was born in Queens New York.I always love the feeling of coding the second I started it freshman year of high school. I am now going to my last year of high school and I want to continue studying coding in the futrue. I want to become a computer or civil engineer. I dont know which one yet cause I need more experience in both fields of study. I don't know which college I want to go to but I am currently looking for the best fit.</p>
          
          
        </div>

      </div>

      <!-- Pictures Row -->
      <h3></h3>

      <div class="row">
        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/soccer.jp" alt="">
          </a>
        </div>

        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/fortnite.jpe" alt="">
          </a>
        </div>

        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/phone.jpe" alt="">
          </a>
        </div>

        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/book.jp" alt="">
          </a>
        </div>
      </div>
    </div>

    <!-- Footer -->

   

{% endblock %}