{% extends 'base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

      <!-- Heading -->
      <h1>Welcome to 
        <small>my page</small>
      </h1>

      <!-- Row -->
      <div class="row">

        <div class="col-8">
          <img class="img-fluid" src="../static/images/fireworks.jpeg" alt="">
        </div>

        <div class="col-4">
          <h3>About me</h3>
          <p>I am Al Shafian Bari. I like to play soccer. I like to eat diffrent types of food. All types of food. I am going to 12 Grade.</p>
          <h3>Skills</h3>
          <ul>
            <li>Soccer</li>
            <li>Fornite</li>
            <li>Being on my phone</li>
            <li>Reading books</li>
          </ul>
        </div>

      </div>

      <!-- Pictures Row -->
      <h3>Some pictures</h3>

      <div class="row">
        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/soccer.jpg" alt="">
          </a>
        </div>

        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/fortnite.jpeg" alt="">
          </a>
        </div>

        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/phone.jpeg" alt="">
          </a>
        </div>

        <div class="col-3">
          <a href="#">
            <img class="img-fluid" src="../static/images/book.jpg" alt="">
          </a>
        </div>
      </div>
    </div>

    <!-- Footer -->

    
{% endblock %}

    
 